<mat-toolbar color="primary">
  <span>Event Booker</span>
  <span class="spacer"></span>
  <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
    <a mat-button routerLink="/auth/login">Login</a>
    <a mat-button routerLink="/auth/signup">Sign Up</a>
  </ng-container>
  <ng-template #loggedIn>
    <a mat-button routerLink="/calendar">Calendar</a>
    <ng-container *ngIf="authService.isAdmin()">
      <a mat-button routerLink="/admin">Admin</a>
    </ng-container>
    <button mat-button (click)="authService.logout()">Logout</button>
  </ng-template>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
